/* Normalizer or CSS Resets*/
* {
    box-sizing: border-box;
    margin: 0;

}


/* Navbar */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




/* Main Section*/

main{
    width:100vw;
    
}
a{
  color: #141414;
  text-decoration: none;
  font-family: sans-serif;
}
a:hover{
  text-decoration: underline;
}
button{
  background: #6288a5;;
  min-height: 5vh;
  border-radius: 5px;
  border: #6288a5;
  color: #fff;
  font-weight: bold;
}
button:hover{
  background: #326891;
}
.menu-brand-left{
    display: flex;
}

.nyc-brand-logo{
    border:solid 1px;
}
.menu-brand-left li{
    list-style: none;
    display: inline;
}
.first-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section img{
  position: relative;
  min-width: 600px;
  max-width: 1024px;
  width: 60vw;
  height: 70vh;
 }
.article-image-description{
  margin: 0;
  position: relative; 
  color: #909090;
}

.section-with-sidebar{
    display: grid;
    width: 70%;
    margin: 0 auto;
    grid-template-columns: 20% 60% 20%;
    justify-content: center;
    align-items: center;
}
.inner-content{
    width:90%;
    margin: 0 5% 0 -8%;
}
.inner-content .all-sections{
  width: 100%;
  padding: 0;
}
.all-sections{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.all-sections p{
    line-height: 1.7em;
    font-size:1.2em;
    margin-top: 0.9em;
}

.side-menu {
    line-height: 1.3em;
    margin-left: 2vw;
    justify-self: center;
}

.side-menu article{
    padding: 0.4em;
}
.side-menu-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.side-menu a{
    text-decoration: none;
    color: rgba(136, 133, 133, 0.808);
    
}
.side-menu-item h3{
    font-size: 0.8rem;
    line-height: 0.96em;
    padding-left: 4px;
}

.thumbnails {
    width: 50px;
    height: 50px;
   
}
.paid-post {
    background: #f8f5f5;
}

.iframe-external{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin:20px auto;
    line-height: 1.4em;
}
.iframe-external p{
    color: #909090;
    font-size:0.9em;
}
.iframe-external img{
  min-width: 100%;
}
.theory-section{
    margin-top:4px;
    margin-bottom: 3em;
    width: 100%;
}
figure{
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding: 40px 0   ;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
figcaption{
    color: #909090;
    font-size:0.9em;
    align-self: start;
    padding: 2% 0;
}

.article-image-video{
  width: 100%;
  /* background: grey; */
  height: 50vh;
}
iframe{
  height: 100%;
  width: 100%;
}
.quote-by hr{
  width: 5vw;
  margin:2% 0 ;
  border: 0.7px solid;
}
.quote-by{
  font-size: 12px;
  font-family: sans-serif;
}

.ads{
  background:#e6e6e6;; 
  height: 110px;
}
.article-version {
  margin: 2em;
  font-size: 0.9em;
  color: #909090;
}
.article-version a{
  text-decoration: none;
}
.social-share-footer li {
  list-style: none;
  display: inline;
}
.social-share-footer{
  display: flex;
  justify-content: space-around;
}
.read-comments{
  text-transform: uppercase;
}

.article-image-video{
  widows: 560px;
  height:315;
}

/* Footer */
footer{
  display: flex;
  flex-direction: column;
   margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}
footer ul {
  list-style: none;
  padding:2em;
}
.footer-top-brand{
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #909090;
  margin: auto;
  width:60%;
}
.footer-copyright{
  display: flex;
  margin: auto;
  line-height:0.3em;
  border-top: solid 1px #909090;
  padding-top: 4px;
}
.footer-navigations{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.subscribe{
  border-left: solid 1px #909090;
  font-size: 12px;
  line-height: 16px;
}
.inner-subscribe-links{
  font-weight:bold;
  padding: 0;
}
.footer-copyright li{
  display: inline;
}
.footer-copyright ul {
  margin: 0;
  padding: 0.2em;
  font-size: 9px;
}
.footer-copyright a{
    color: #909090;
    padding: 0;
    /* font-size: 9px; */
}
.fas, .fa, .fab{
  border-radius: 50%;
  background: #e6e6e6;
  width: 30px;
  height: 30px;
  border:#e6e6e6;
  text-align: center;
  padding-top: 8px;
  font-size: 12px;
}
.fa:hover, .fas:hover,.fab:hover{
  background: #fff;
  border: 1px solid gray;
}
