/* Normalizer or CSS Resets*/
* {
    box-sizing: border-box;
    margin: 0;

}


/* Navbar */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




/* Main Section*/

main{
    width:100vw;
    
}
.menu-brand-left{
    display: flex;
}

.nyc-brand-logo{

}
.menu-brand-left li{
    list-style: none;
    display: inline;
}
.first-section{
  display: flex;
  border: 2px solid red;
  flex-direction: column;
  align-items: center;
}

.first-section img{
  position: relative;
  min-width: 600px;
  max-width: 1024px;
  width: 60vw;
  height: 70vh;
 }
.article-image-description{
  margin: 0;
  position: relative; 
  color: #909090;
}
.article-details{
  background: teal;
}
.text-column{
  background: magenta;
}

.section-with-sidebar{
    display: flex;
    border: solid 1px;
    justify-content: center;
}
.inner-content{
    margin: auto;
    /* border:solid 1px; */
    width:70%;
}
.content-in-section-sidebar{
  /* border: solid 1px;
  width: 80vw;   */
}
.all-sections{
    width: 70%;
    /* border: 2px solid red; */
    margin: auto;
}
.all-sections p{
    line-height: 1.5em;
    font-size:1.2em;
    margin-top: 0.9em;
    margin-left: 2em;
    text-align: justify;
}
.side-menu {
    width: 12vw;
    margin: auto;
    line-height: 1.3em;
}

.side-menu article{
    padding: 0.4em;
}
.side-menu-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.side-menu a{
    text-decoration: none;
    color: rgba(136, 133, 133, 0.808);
    
}
.side-menu-item h3{
    font-size: 0.8rem;
    line-height: 0.96em;
    padding-left: 4px;
}
aside {

}
.thumbnails {
    width: 50px;
    height: 50px;
   
}
.paid-post {
    background: #f8f5f5;
}

.iframe-external{
    width: 60%;
    margin: auto;
    line-height: 1.4em;
}
.iframe-external p{
    color: #909090;
    font-size:0.9em;
}
.theory-section{
    margin-top:4px;
    margin-bottom: 3em;
}
figure{
    width: 60%;
    margin: auto;
}
figcaption{
    color: #909090;
    font-size:0.9em;
}
.quote-by{
    border-bottom: solid 1px grey;
     width: 3px;
    }
.ads{
    background: rgb(214, 207, 207);
    height: 110px;
}
.article-version {
    margin: 2em;
    font-size: 0.9em;
    color: #909090;
}
.article-version a{
    text-decoration: none;
}
.social-share-footer li {
    list-style: none;
    display: inline;
}
.social-share-footer{
    display: flex;
    justify-content: space-around;
}
.read-comments{
    text-transform: uppercase;
}

.article-image-video{
    widows: 560px;
    height:315;
}

/* Footer */
footer{
    display: flex;
    flex-direction: column;
   
}
footer ul {
    list-style: none;
}
.footer-top-brand{
    display: flex;
    justify-content: space-between;
}
.footer-copyright{
    display: flex;
}
.footer-navigations{
    display: flex;
    justify-content: space-around;
}

.subscribe{
   font-size:4px;
}
.inner-subscribe-links{
    font-weight:bold;
    padding: 0;
}
.footer-copyright li{
    display: inline;
    padding: 5px;
}
